In [74]:
import pandas as pd
import numpy as np
#https://www.kaggle.com/ashirwadsangwan/imdb-dataset

In [75]:
#definindo os caminhos dos arquivos
names = pd.read_csv('C:/Users/fic/Documents/IMDb Dataset/name.basics.tsv/name.basics.tsv', sep = "\t")

In [76]:
titles = pd.read_csv('C:/Users/fic/Documents/IMDb Dataset/title.akas.tsv/title.akas.tsv', sep = "\t")

In [77]:
titles_basic = pd.read_csv('C:/Users/fic/Documents/IMDb Dataset/title.basics.tsv/title.basics.tsv', sep = "\t")

In [78]:
titles_principal = pd.read_csv('C:/Users/fic/Documents/IMDb Datasettitle.principals.tsv/title.principals.tsv', sep = "\t")

FileNotFoundError: [Errno 2] File b'C:/Users/fic/Documents/IMDb Datasettitle.principals.tsv/title.principals.tsv' does not exist: b'C:/Users/fic/Documents/IMDb Datasettitle.principals.tsv/title.principals.tsv'

In [79]:
titles_rating = pd.read_csv('C:/Users/fic/Documents/IMDb Dataset/title.ratings.tsv/title.ratings.tsv', sep = "\t")

In [80]:
names = names.replace('\\N', np.nan)

In [81]:
titles = titles.replace('\\N', np.nan)

In [82]:
titles_basic = titles_basic.replace('\\N', np.nan)

In [83]:
titles_principal = titles_principal.replace('\\N', np.nan)

In [84]:
titles_rating = titles_rating.replace('\\N', np.nan)

In [115]:
names.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,NaN,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"

In [123]:
names.count()

nconst               9706922
primaryName          9706922
birthYear             491281
deathYear             172005
primaryProfession    7775897
knownForTitles       8017326
dtype: int64

In [124]:
names['primaryName'].unique()

array(['Fred Astaire', 'Lauren Bacall', 'Brigitte Bardot', ...,
       'Essias Loberg', 'Harikrishnan Rajan', 'Aayush Nair'], dtype=object)

In [125]:
names['Ano Falecimento'].unique()

array(['soundtrack,actor,miscellaneous', 'actress,soundtrack',
       'actress,soundtrack,producer', ...,
       'casting_department,art_department,costume_designer',
       'publicist,production_designer',
       'producer,casting_department,assistant'], dtype=object)

In [134]:
names['knownForTitles'].unique()

array(['tt0050419,tt0053137,tt0072308,tt0043044',
       'tt0071877,tt0117057,tt0038355,tt0037382',
       'tt0054452,tt0049189,tt0059956,tt0057345', ...,
       'tt8744286,tt9046122', 'tt8744286', 'tt8325250'], dtype=object)

In [140]:
names.columns = ['nconst','primeiro_nome','ano_nascimento','ano_falecimento','profissao_primaria','knownForTitles']

In [141]:
names.head()

,nconst,primeiro_nome,ano_nascimento,ano_falecimento,profissao_primaria,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,NaN,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"

In [86]:
titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Καρμενσίτα,GR,NaN,NaN,NaN,0
2,tt0000001,3,Карменсита,RU,NaN,NaN,NaN,0
3,tt0000001,4,Carmencita,US,NaN,NaN,NaN,0
4,tt0000001,5,Carmencita,NaN,NaN,original,NaN,1

In [127]:
titles.count()

titleId            19322610
ordering           19322610
title              19322610
region             18861073
language           16126439
types               1093713
attributes           180679
isOriginalTitle    19320480
dtype: int64

In [128]:
titles['title'].unique()

array(['Carmencita - spanyol tánc', 'Καρμενσίτα', 'Карменсита', ...,
       'Rahibe 2', 'The Possessed Nun', 'The Demonic Nun'], dtype=object)

In [129]:
titles['region'].unique()

array(['HU', 'GR', 'RU', 'US', nan, 'FR', 'RO', 'GB', 'PT', 'ES', 'UY',
       'DE', 'IT', 'FI', 'RS', 'PL', 'AR', 'BR', 'XWW', 'TR', 'DK', 'XEU',
       'SK', 'CZ', 'SE', 'MX', 'XYU', 'AT', 'VE', 'CSHH', 'SI', 'JP',
       'AU', 'NL', 'NO', 'IR', 'UA', 'CA', 'CO', 'BG', 'BE', 'IN', 'DZ',
       'CH', 'NZ', 'BF', 'XWG', 'VN', 'SUHH', 'EE', 'IS', 'DDDE', 'HR',
       'XKO', 'CL', 'LT', 'EG', 'HK', 'BY', 'GE', 'BA', 'PE', 'PA', 'CN',
       'XSI', 'YUCS', 'IE', 'XSA', 'IL', 'CU', 'AL', 'BO', 'ZA', 'KR',
       'MY', 'SG', 'BUMM', 'XPI', 'BJ', 'PR', 'CM', 'AZ', 'TH', 'DO',
       'EC', 'LV', 'MA', 'GL', 'LI', 'LU', 'PH', 'ID', 'PY', 'MZ', 'BM',
       'TW', 'JM', 'MD', 'LB', 'IQ', 'TM', 'MK', 'CR', 'TN', 'NG', 'HT',
       'SN', 'GH', 'CI', 'JO', 'KG', 'PK', 'LK', 'GT', 'TJ', 'NE', 'GN',
       'VDVN', 'TD', 'SO', 'SD', 'MC', 'CG', 'TT', 'GA', 'BS', 'LY', 'SY',
       'AO', 'KH', 'SV', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY', 'ET', 'XAS',
       'UZ', 'SR', 'MT', 'AM', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'KP', 'KZ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'BD',
       'MN', 'AW', 'NP', 'MO', 'KW', 'CV', 'GP', 'SL', 'SM', 'CD', 'CSXX',
       'TO', 'BT', 'LS', 'HN', 'KE', 'PS', 'MQ', 'AD', 'SA', 'ZRCD', 'AE',
       'GU', 'ER', 'IM', 'XKV', 'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM',
       'QA', 'BW', 'MM', 'YE', 'GQ', 'ME', 'RE', 'KY', 'FO', 'MV', 'FJ',
       'NC', 'SZ', 'LC', 'MH', 'VI', 'VC', 'DM', 'AN', 'XNA', 'MW', 'GF',
       'GM', 'LR', 'EH', 'VU', 'SH', 'MS', 'TV', 'WS', 'BN', 'PF', 'XAU',
       'CK', 'VA', 'TL', 'KM', 'AQ', 'PW', 'NR', 'GD', 'KN', 'AS', 'ST',
       'SB', 'JE', 'MP', 'VG', 'KI', 'WF', 'AI'], dtype=object)

In [130]:
titles['language'].unique()

array([nan, 'sv', 'en', 'tr', 'es', 'sr', 'cs', 'fa', 'fr', 'bg', 'ca',
       'nl', 'qbn', 'pt', 'ru', 'qbp', 'ar', 'cmn', 'rn', 'bs', 'de',
       'hi', 'yi', 'qbo', 'uk', 'ka', 'hr', 'sl', 'he', 'tg', 'sk', 'kk',
       'el', 'fi', 'it', 'da', 'gsw', 'az', 'ms', 'pl', 'mr', 'uz', 'gl',
       'th', 'ta', 'eu', 'yue', 'af', 'la', 'hy', 'ur', 'bn', 'te', 'be',
       'lt', 'mk', 'et', 'gd', 'tl', 'lv', 'cy', 'id', 'qal', 'goh', 'ml',
       'ro', 'ja', 'hu', 'pa', 'no', 'is', 'sq', 'vi', 'ga', 'gu', 'ps',
       'nqo', 'sd', 'kn', 'xh', 'mi', 'wo', 'zu', 'rm', 'prs', 'ky',
       'fro', 'mn', 'lo', 'my', 'zh', 'am', 'qac', 'ku', 'ne', 'ko',
       'haw', 'myv', 'iu', 'st', 'tn', 'cr'], dtype=object)

In [131]:
titles['types'].unique()

array(['imdbDisplay', nan, 'original', 'alternative', 'dvd', 'festival',
       'working', 'tv', 'video', 'tv\x02working', 'tv\x02video',
       'video\x02working', 'festival\x02working', 'dvd\x02video',
       'dvd\x02imdbDisplay', 'dvd\x02working'], dtype=object)

In [132]:
titles['attributes'].unique()

array([nan, 'literal English title', 'informal alternative title',
       'promotional title', 'complete title', 'poster title',
       'literal translation of working title', 'premiere title',
       'informal title', 'short title', 'première title',
       'bowdlerized title', 'reissue title', 'informal English title',
       'alternative spelling', 'original script title',
       'informal literal title', 'copyright title', 'long title',
       'literal title', 'transliterated ISO-LATIN-1 title',
       'informal short title', 'review title', 'new title', 'subtitle',
       'original subtitled version', 'cut version',
       'video catalogue title', 'second part title',
       'fourth season title', 'third part title', 'fifth season title',
       'series title', 'recut version', 'pre-release title',
       'theatrical title', 'first part title',
       'informal literal English title', '8mm release title',
       'Los Angeles première title', 'DVD box title',
       'second copyright title', '16mm release title', 'short version',
       'video box title', 'rerun title', 'restored version',
       'english transliteration', 'recut version\x02reissue title',
       '8mm release title\x02short version',
       'alternative transliteration', 'trailer title', 'censored version',
       'DVD menu title', 'silent version', 'Berlin film festival title',
       'Cannes festival title', 'dubbed version',
       'added framing sequences and narration in Yiddish\x02reissue title',
       'segment title', 'bootleg title', 'orthographically correct title',
       'Bable dialect title', 'Venice film festival title',
       'Yiddish dubbed\x02reissue title', 'cable TV title',
       'uncensored intended title', 'last season title', 'Yiddish dubbed',
       'TV listings title', 'YIVO translation', 'anthology series',
       'modern translation', 'first episode title', 'long new title',
       "director's cut", 'POLart\x02video box title', 'POLart',
       'YIVO translation\x02reissue title',
       'cut version\x02reissue title', 'racier version',
       'redubbed comic version', 'X-rated version',
       'copyright title\x02reissue title', 'syndication title',
       'fake working title', 'closing credits title',
       'armed forces circuit title', 'reissue title\x02short version',
       'weekend title', 'first season title', 'summer title',
       'longer version', 'second season title', 'sixth season title',
       'first two episodes title', 'first episodes title',
       'first three episodes title', 'Pay-TV title', 'tenth season title',
       '3-D version', 'MIFED title', '3-D video title',
       'literal French title', 'third and fourth season title',
       'new syndication title', 'ninth season title',
       'eighth season title', 'expansion title',
       'correct transliteration', '16mm rental title',
       'fourteenth season title', 'teaser title', 'daytime version title',
       'seventh season title', 'third season title', 'video CD title',
       'LD title', 'promotional abbreviation', 'ISO-LATIN-1 title',
       'soft porn version', 'unauthorized video title',
       'cut version\x02video box title',
       'racier version\x02reissue title',
       '8mm release title\x02second part title',
       'English translation of working title', 'fifteenth season title',
       'twentyfifth season title', 'twentieth season title',
       'fourth part title', 'thirtysecond season title',
       'informal title\x02literal title', 'cable TV title\x02cut version',
       'closing credits title\x02pre-release title', 'IMAX version',
       'non-modified Hepburn romanization', 'Locarno film festival title',
       'Los Angeles premiere title', 'eleventh season title',
       'first four episodes title',
       'approximation of original mirrored title', 'twelfth season title',
       'DVD box title\x02promotional abbreviation',
       'IMAX version\x02promotional title',
       'title for episodes with guest hosts', 'thirtieth season title',
       'sixteenth season title', 'twentyseventh season title',
       'nineteenth season title', 'twentyfourth season title',
       'twentysixth season title', 'twentysecond season title',
       'twentythird season title', 'twentyfirst season title',
       'game box title', 'X-rated version\x02bootleg title',
       'poster title\x02video box title', 'eighteenth season title',
       'thirteenth season title', 'seventeenth season title',
       'dubbed version\x02recut version', 'thirtythird season title',
       'twentyninth season title', 'thirtyfirst season title',
       'American Mutoscope & Biograph catalog title', 'R-rated version',
       'original pilot title', 'thirtysixth season title',
       'thirtyseventh season title', 'thirtyfourth season title',
       'twentyeighth season title', 'thirtyninth season title',
       'thirtyeighth season title', 'thirtyfifth season title',
       'Hakka dialect title', 'Bilbao festival title',
       'promotional title\x02thirteenth season title',
       'orthographically correct title\x02video box title',
       'late Sunday edition', 'PC version',
       'fourth season title\x02recut version', 'GameCube version',
       'third segment title', 'first segment title',
       'second segment title', 'fifth part title', 'videogame episode',
       'incorrect title', 'rumored'], dtype=object)

In [133]:
titles['isOriginalTitle'].unique()

array([0, 1, '0', '1', nan], dtype=object)

In [87]:
titles_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,NaN,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [117]:
titles_basic.count()

tconst            6321302
titleType         6321302
primaryTitle      6321292
originalTitle     6321117
isAdult           6321302
startYear         5951344
endYear             54362
runtimeMinutes    1865942
genres            5819979
dtype: int64

In [95]:
titles_basic['titleType'].unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [96]:
titles_basic['primaryTitle'].unique()

array(['Carmencita', 'Le clown et ses chiens', 'Pauvre Pierrot', ...,
       'Danira Boukhriss Terkessidis', "Horrid Henry's Comic Caper",
       'Horrid Henry Knows It All'], dtype=object)

In [97]:
titles_basic['originalTitle'].unique()

array(['Carmencita', 'Le clown et ses chiens', 'Pauvre Pierrot', ...,
       'Danira Boukhriss Terkessidis', "Horrid Henry's Comic Caper",
       'Horrid Henry Knows It All'], dtype=object)

In [98]:
titles_basic['isAdult'].unique()

array([   0,    1, 2019, 2004, 2014, 2018, 2015, 1994, 2005], dtype=int64)

In [99]:
titles_basic['startYear'].unique()

array([1894, 1892, 1893, 1895, 1896, 1898, 1897, 1900, 1899, 1901, 1904,
       1903, 1902, 1905, 1912, 1907, 1906, 1908, 1910, 1909, 1914, 1911,
       1913, 1915, 1919, 1916, 1917, 1918, 1936, 1925, 1920, 1922, 1921,
       1923, 1924, 1928, 1926, 1927, 1929, 1993, 1935, 1930, 1942, 1933,
       1934, 1931, 1932, 1939, 1937, 1950, 1938, 1951, 1945, 1983, 1946,
       1940, 1944, 1949, 1947, 1958, 1941, 1952, 1970, 1957, 1943, 1948,
       1959, 2001, 1953, 1954, 1965, 1973, 1961, 1995, 1955, 1962, 1956,
       1960, 1964, 1967, 1968, 1963, 1969, 1985, 1971, 1972, 1966, 1992,
       1976, 1990, 1986, 1979, 1974, 1981, 1988, 1975, 1978, 1977, 1989,
       '1971', '1972', '1970', '1967', '1973', '1974', '1976', '1969',
       '1968', '1985', nan, '1981', '1977', '1980', '1986', '1965',
       '1975', '1978', '2010', '2018', '1979', '1989', '1988', '1984',
       '1966', '1983', '1995', '1982', '1992', '1991', '1952', '1987',
       '1963', '1961', '1994', '1993', '1990', '1964', '1957', '1959',
       '2019', '1999', '2005', '1953', '1998', '1947', '2014', '2002',
       '1997', '2004', '1996', '2017', '2000', '1945', '1956', '2001',
       '2013', '1955', '2009', '1949', '2008', '2003', '2007', '1960',
       '1930', '1938', '1929', '1944', '1935', '1962', '1919', '1951',
       '1914', '1954', '1958', '1907', '1942', '1918', '1943', '1921',
       '1927', '1941', '1939', '1940', '1937', '1950', '1946', '1916',
       '1948', '1934', '1912', '1911', '1926', '1933', '1936', '1925',
       '1932', '1913', '1928', '1917', '1920', '1931', '1895', '2006',
       '1922', '1923', '1924', '1900', '1908', '1915', '1910', '1897',
       '1905', '1909', '1903', '2016', '1902', '1901', '1906', '1904',
       '1898', '1896', '1899', '2012', '2011', '1894', '2015', '1892',
       '1893', '1891', '2021', '2020', '1888', '1890', '1889', '2022',
       '2023', '2024', '2026', '2025', '1887', '1878', '1874', '2115',
       '1883', '2027', '1881', '1885'], dtype=object)

In [100]:
titles_basic['endYear'].unique()

array([nan, '1947', '1950', '1949', '1958', '1951', '1952', '1954',
       '1957', '1953', '1956', '1967', '1971', '1959', '1955', '1963',
       '1960', '1961', '1965', '1980', '2016', '1986', '1962', '1972',
       '1966', '1970', '2009', '1973', '1987', '1991', '1974', '1992',
       '1976', '1975', '1982', '2010', '1984', '1964', '1968', '1989',
       '1969', '1994', '2004', '1981', '1977', '1999', '1988', '2003',
       '1978', '2001', '2013', '1993', '1997', '1996', '2011', '2005',
       '1995', '1979', '2006', '1985', '1983', '1998', '1990', '2008',
       '2007', '2015', '2014', '2000', '2019', '2002', '2018', '2012',
       '2020', '1948', '2017', '1938', '1942', '1933', '2021', '2026',
       '2022', '1946', '1945', '1941', '1937', '1939', '1932', '2025',
       '1936', '1924', '1927', '1935', '2024', '2027', '24'], dtype=object)

In [101]:
titles_basic['runtimeMinutes'].unique()

array(['1', '5', '4', nan, '45', '2', '0', '3', '20', '13', '6', '11',
       '9', '10', '8', '15', '21', '16', '12', '14', '7', '24', '100',
       '17', '70', '25', '120', '36', '18', '30', '19', '38', '58', '50',
       '34', '28', '44', '23', '51', '40', '92', '60', '56', '53', '26',
       '41', '48', '68', '33', '31', '29', '43', '46', '27', '32', '76',
       '85', '55', '121', '89', '37', '69', '22', '54', '90', '35', '150',
       '64', '96', '49', '61', '101', '300', '57', '99', '110', '39',
       '88', '52', '86', '72', '78', '75', '450', '148', '59', '63',
       '112', '1428', '84', '65', '42', '74', '105', '73', '82', '81',
       '199', '109', '219', '80', '67', '310', '195', '440', '77', '293',
       '97', '62', '71', '47', '250', '421', '360', '180', '66', '163',
       '93', '400', '95', '83', '116', '320', '125', '127', '138', '460',
       '350', '374', '480', '87', '130', '108', '79', '136', '94', '600',
       '240', '117', '146', '104', '418', '330', '242', '223', '489',
       '119', '122', '115', '207', '166', '106', '111', '145', '131',
       '243', '167', '103', '91', '157', '107', '248', '235', '184',
       '102', '380', '98', '200', '133', '128', '143', '137', '183',
       '210', '135', '124', '141', '162', '153', '132', '129', '123',
       '144', '155', '151', '114', '170', '140', '113', '359', '118',
       '126', '179', '260', '230', '168', '142', '139', '159', '185',
       '156', '178', '215', '177', '213', '149', '165', '147', '266',
       '220', '217', '172', '158', '226', '164', '194', '225', '216',
       '227', '231', '218', '246', '281', '208', '228', '229', '212',
       '236', '306', '257', '245', '197', '255', '323', '305', '328',
       '269', '176', '232', '258', '256', '303', '290', '308', '224',
       '294', '252', '268', '204', '298', '299', '264', '160', '211',
       '302', '238', '263', '134', '265', '205', '154', '237', '285',
       '267', '247', '186', '241', '289', '283', '270', '251', '278',
       '196', '279', '261', '275', '280', '244', '189', '169', '284',
       '295', '201', '221', '173', '192', '171', '193', '287', '161',
       '152', '181', '175', '174', '315', '182', '188', '497', '209',
       '190', '327', '317', '191', '434', '234', '288', '438', '422',
       '378', '316', '202', '340', '203', '253', '206', '344', '540',
       '495', '451', '321', '348', '890', '309', '653', '239', '431',
       '390', '187', '370', '396', '282', '632', '198', '669', '467',
       '286', '274', '763', '770', '311', '500', '373', '382', '596',
       '588', '750', '273', '442', '599', '333', '614', '1256', '385',
       '780', '510', '475', '271', '291', '366', '840', '742', '931',
       '547', '673', '358', '394', '301', '233', '381', '659', '752',
       '504', '410', '520', '720', '883', '313', '420', '778', '413',
       '402', '700', '272', '222', '924', '391', '561', '428', '455',
       '437', '416', '367', '566', '307', '304', '570', '569', '371',
       '415', '376', '870', '312', '572', '407', '331', '375', '436',
       '355', '353', '357', '873', '384', '1290', '345', '1620', '318',
       '335', '624', '680', '262', '398', '567', '606', '214', '501',
       '322', '834', '1140', '522', '361', '276', '314', '515', '762',
       '620', '528', '623', '537', '336', '341', '568', '571', '556',
       '386', '383', '650', '292', '343', '277', '698', '401', '377',
       '672', '465', '702', '660', '622', '356', '296', '1352', '1320',
       '395', '583', '665', '339', '259', '351', '388', '325', '1120',
       '254', '554', '612', '616', '439', '349', '458', '426', '1500',
       '627', '630', '594', '485', '347', '417', '1800', '577', '1440',
       '491', '338', '1100', '406', '3122', '729', '821', '369', '297',
       '2323', '445', '2382', '435', '960', '615', '535', '392', '663',
       '693', '580', '425', '544', '5220', '877', '1080', '389', '464',
       '545', '640', '453', '446', '372', '629', '678', '1300', '352',
       '689', '793', '2925', '608', '2880', '1170', '462', '1084', '457',
       '550', '701', '249', '530', '346', '738', '1970', '354', '551',
       '1260', '1020', '1200', '646', '459', '579', '820', '704', '408',
       '552', '710', '715', '514', '1664', '1215', '1755', '1710', '1035',
       '1370', '1350', '1410', '1380', '326', '1430', '585', '730', '364',
       '516', '705', '3600', '1973', '1196', '765', '2001', '1000',
       '2002', '502', '8400', '541', '2000', '1999', '414', '652', '1997',
       '1040', '1442', '598', '526', '334', '1248', '487', '543', '1773',
       '1932', '466', '538', '4800', '363', '3900', '2150', '403', '900',
       '527', '636', '575', '564', '379', '412', '506', '800', '441',
       '519', '469', '719', '429', '1441', '490', 'Reality-TV', '784',
       '474', '990', '368', '3285', '3300', '319', '461', '1400', '59460',
       '10062', '2018', '1872', 'Talk-Show', '2160', '337', '468', '584',
       '324', '479', '690', '332', '521', '668', '712', '950', '448',
       '736', '470', '675', '1452', '1554', '676', '961', '964', '342',
       '473', '493', '1560', '397', '1680', '3450', '362', '329', '4200',
       '2010', '409', '1568', '751', '761', '5700', '590', '1050', '602',
       '845', '853', '513', '2400', '1669', '605', '1210', '865', '463',
       '642', '724', '1700', '842', '9000', '613', '411', '557', '525',
       '810', '14400', '912', '703', '1584', '536', '532', '404', '625',
       '476', '940', '795', '1470', '1411', '546', '1716', '2288', '3000',
       '509', '3077', '419', '449', '365', '936', '747', '1005', '1008',
       '1285', '655', '2565', '1151', '740', '549', '399', '1644', '539',
       '1207', '3240', '6000', '2905', '5460', '1068', '4980', '481',
       '607', '433', '1415', '387', '511', '471', '685', '582', '684',
       '662', '661', '597', '478', '405', '1559', '771', '430', '443',
       '4080', '447', '958', '496', '959', '1044', '914', '484', '494',
       '5135', '3851', '3652', '3195', '4479', '2950', '4593', '454',
       '1616', '2070', '789', '542', '483', '4162', '477', '3825', '697',
       '1228', '1860', '482', '691', '2015', '499', '773', '1439', '472',
       '1329', '1532', '548', '432', '954', '5760', '1834', '746', '1184',
       '1179', '783', '486', '423', 'Animation,Family', '51420', '531',
       '452', '601', '1750', '808', '1980', '2112', '716', '755', '721',
       '424', '2088', 'Animation,Comedy,Drama'], dtype=object)

In [102]:
titles_basic['genres'].unique()

array(['Documentary,Short', 'Animation,Short', 'Animation,Comedy,Romance',
       ..., 'Musical,Reality-TV,Talk-Show', 'Animation,Short,Talk-Show',
       'Comedy,Mystery,Talk-Show'], dtype=object)

In [ ]:
#pausa no processo

In [88]:
titles_principal.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Καρμενσίτα,GR,NaN,NaN,NaN,0
2,tt0000001,3,Карменсита,RU,NaN,NaN,NaN,0
3,tt0000001,4,Carmencita,US,NaN,NaN,NaN,0
4,tt0000001,5,Carmencita,NaN,NaN,original,NaN,1

In [118]:
titles_principal.count()

titleId            19322610
ordering           19322610
title              19322610
region             18861073
language           16126439
types               1093713
attributes           180679
isOriginalTitle    19320480
dtype: int64

In [103]:
titles_principal['ordering'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99], dtype=int64)

In [106]:
titles_principal['title'].unique()

array(['Carmencita - spanyol tánc', 'Καρμενσίτα', 'Карменсита', ...,
       'Rahibe 2', 'The Possessed Nun', 'The Demonic Nun'], dtype=object)

In [107]:
titles_principal['region'].unique()

array(['HU', 'GR', 'RU', 'US', nan, 'FR', 'RO', 'GB', 'PT', 'ES', 'UY',
       'DE', 'IT', 'FI', 'RS', 'PL', 'AR', 'BR', 'XWW', 'TR', 'DK', 'XEU',
       'SK', 'CZ', 'SE', 'MX', 'XYU', 'AT', 'VE', 'CSHH', 'SI', 'JP',
       'AU', 'NL', 'NO', 'IR', 'UA', 'CA', 'CO', 'BG', 'BE', 'IN', 'DZ',
       'CH', 'NZ', 'BF', 'XWG', 'VN', 'SUHH', 'EE', 'IS', 'DDDE', 'HR',
       'XKO', 'CL', 'LT', 'EG', 'HK', 'BY', 'GE', 'BA', 'PE', 'PA', 'CN',
       'XSI', 'YUCS', 'IE', 'XSA', 'IL', 'CU', 'AL', 'BO', 'ZA', 'KR',
       'MY', 'SG', 'BUMM', 'XPI', 'BJ', 'PR', 'CM', 'AZ', 'TH', 'DO',
       'EC', 'LV', 'MA', 'GL', 'LI', 'LU', 'PH', 'ID', 'PY', 'MZ', 'BM',
       'TW', 'JM', 'MD', 'LB', 'IQ', 'TM', 'MK', 'CR', 'TN', 'NG', 'HT',
       'SN', 'GH', 'CI', 'JO', 'KG', 'PK', 'LK', 'GT', 'TJ', 'NE', 'GN',
       'VDVN', 'TD', 'SO', 'SD', 'MC', 'CG', 'TT', 'GA', 'BS', 'LY', 'SY',
       'AO', 'KH', 'SV', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY', 'ET', 'XAS',
       'UZ', 'SR', 'MT', 'AM', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'KP', 'KZ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'BD',
       'MN', 'AW', 'NP', 'MO', 'KW', 'CV', 'GP', 'SL', 'SM', 'CD', 'CSXX',
       'TO', 'BT', 'LS', 'HN', 'KE', 'PS', 'MQ', 'AD', 'SA', 'ZRCD', 'AE',
       'GU', 'ER', 'IM', 'XKV', 'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM',
       'QA', 'BW', 'MM', 'YE', 'GQ', 'ME', 'RE', 'KY', 'FO', 'MV', 'FJ',
       'NC', 'SZ', 'LC', 'MH', 'VI', 'VC', 'DM', 'AN', 'XNA', 'MW', 'GF',
       'GM', 'LR', 'EH', 'VU', 'SH', 'MS', 'TV', 'WS', 'BN', 'PF', 'XAU',
       'CK', 'VA', 'TL', 'KM', 'AQ', 'PW', 'NR', 'GD', 'KN', 'AS', 'ST',
       'SB', 'JE', 'MP', 'VG', 'KI', 'WF', 'AI'], dtype=object)

In [108]:
titles_principal['language'].unique()

array([nan, 'sv', 'en', 'tr', 'es', 'sr', 'cs', 'fa', 'fr', 'bg', 'ca',
       'nl', 'qbn', 'pt', 'ru', 'qbp', 'ar', 'cmn', 'rn', 'bs', 'de',
       'hi', 'yi', 'qbo', 'uk', 'ka', 'hr', 'sl', 'he', 'tg', 'sk', 'kk',
       'el', 'fi', 'it', 'da', 'gsw', 'az', 'ms', 'pl', 'mr', 'uz', 'gl',
       'th', 'ta', 'eu', 'yue', 'af', 'la', 'hy', 'ur', 'bn', 'te', 'be',
       'lt', 'mk', 'et', 'gd', 'tl', 'lv', 'cy', 'id', 'qal', 'goh', 'ml',
       'ro', 'ja', 'hu', 'pa', 'no', 'is', 'sq', 'vi', 'ga', 'gu', 'ps',
       'nqo', 'sd', 'kn', 'xh', 'mi', 'wo', 'zu', 'rm', 'prs', 'ky',
       'fro', 'mn', 'lo', 'my', 'zh', 'am', 'qac', 'ku', 'ne', 'ko',
       'haw', 'myv', 'iu', 'st', 'tn', 'cr'], dtype=object)

In [109]:
titles_principal['types'].unique()

array(['imdbDisplay', nan, 'original', 'alternative', 'dvd', 'festival',
       'working', 'tv', 'video', 'tv\x02working', 'tv\x02video',
       'video\x02working', 'festival\x02working', 'dvd\x02video',
       'dvd\x02imdbDisplay', 'dvd\x02working'], dtype=object)

In [110]:
titles_principal['attributes'].unique()

array([nan, 'literal English title', 'informal alternative title',
       'promotional title', 'complete title', 'poster title',
       'literal translation of working title', 'premiere title',
       'informal title', 'short title', 'première title',
       'bowdlerized title', 'reissue title', 'informal English title',
       'alternative spelling', 'original script title',
       'informal literal title', 'copyright title', 'long title',
       'literal title', 'transliterated ISO-LATIN-1 title',
       'informal short title', 'review title', 'new title', 'subtitle',
       'original subtitled version', 'cut version',
       'video catalogue title', 'second part title',
       'fourth season title', 'third part title', 'fifth season title',
       'series title', 'recut version', 'pre-release title',
       'theatrical title', 'first part title',
       'informal literal English title', '8mm release title',
       'Los Angeles première title', 'DVD box title',
       'second copyright title', '16mm release title', 'short version',
       'video box title', 'rerun title', 'restored version',
       'english transliteration', 'recut version\x02reissue title',
       '8mm release title\x02short version',
       'alternative transliteration', 'trailer title', 'censored version',
       'DVD menu title', 'silent version', 'Berlin film festival title',
       'Cannes festival title', 'dubbed version',
       'added framing sequences and narration in Yiddish\x02reissue title',
       'segment title', 'bootleg title', 'orthographically correct title',
       'Bable dialect title', 'Venice film festival title',
       'Yiddish dubbed\x02reissue title', 'cable TV title',
       'uncensored intended title', 'last season title', 'Yiddish dubbed',
       'TV listings title', 'YIVO translation', 'anthology series',
       'modern translation', 'first episode title', 'long new title',
       "director's cut", 'POLart\x02video box title', 'POLart',
       'YIVO translation\x02reissue title',
       'cut version\x02reissue title', 'racier version',
       'redubbed comic version', 'X-rated version',
       'copyright title\x02reissue title', 'syndication title',
       'fake working title', 'closing credits title',
       'armed forces circuit title', 'reissue title\x02short version',
       'weekend title', 'first season title', 'summer title',
       'longer version', 'second season title', 'sixth season title',
       'first two episodes title', 'first episodes title',
       'first three episodes title', 'Pay-TV title', 'tenth season title',
       '3-D version', 'MIFED title', '3-D video title',
       'literal French title', 'third and fourth season title',
       'new syndication title', 'ninth season title',
       'eighth season title', 'expansion title',
       'correct transliteration', '16mm rental title',
       'fourteenth season title', 'teaser title', 'daytime version title',
       'seventh season title', 'third season title', 'video CD title',
       'LD title', 'promotional abbreviation', 'ISO-LATIN-1 title',
       'soft porn version', 'unauthorized video title',
       'cut version\x02video box title',
       'racier version\x02reissue title',
       '8mm release title\x02second part title',
       'English translation of working title', 'fifteenth season title',
       'twentyfifth season title', 'twentieth season title',
       'fourth part title', 'thirtysecond season title',
       'informal title\x02literal title', 'cable TV title\x02cut version',
       'closing credits title\x02pre-release title', 'IMAX version',
       'non-modified Hepburn romanization', 'Locarno film festival title',
       'Los Angeles premiere title', 'eleventh season title',
       'first four episodes title',
       'approximation of original mirrored title', 'twelfth season title',
       'DVD box title\x02promotional abbreviation',
       'IMAX version\x02promotional title',
       'title for episodes with guest hosts', 'thirtieth season title',
       'sixteenth season title', 'twentyseventh season title',
       'nineteenth season title', 'twentyfourth season title',
       'twentysixth season title', 'twentysecond season title',
       'twentythird season title', 'twentyfirst season title',
       'game box title', 'X-rated version\x02bootleg title',
       'poster title\x02video box title', 'eighteenth season title',
       'thirteenth season title', 'seventeenth season title',
       'dubbed version\x02recut version', 'thirtythird season title',
       'twentyninth season title', 'thirtyfirst season title',
       'American Mutoscope & Biograph catalog title', 'R-rated version',
       'original pilot title', 'thirtysixth season title',
       'thirtyseventh season title', 'thirtyfourth season title',
       'twentyeighth season title', 'thirtyninth season title',
       'thirtyeighth season title', 'thirtyfifth season title',
       'Hakka dialect title', 'Bilbao festival title',
       'promotional title\x02thirteenth season title',
       'orthographically correct title\x02video box title',
       'late Sunday edition', 'PC version',
       'fourth season title\x02recut version', 'GameCube version',
       'third segment title', 'first segment title',
       'second segment title', 'fifth part title', 'videogame episode',
       'incorrect title', 'rumored'], dtype=object)

In [112]:
titles_principal['isOriginalTitle'].unique()

array([0, 1, '0', '1', nan], dtype=object)

In [113]:
titles_rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1550
1  tt0000002            6.1       186
2  tt0000003            6.5      1207
3  tt0000004            6.2       113
4  tt0000005            6.1      1934

In [119]:
titles_rating.count()

tconst           993153
averageRating    993153
numVotes         993153
dtype: int64

In [ ]:
#titles_principal com os nomes dos atores names